extends _includes/layouts/main.pug

block content
  h1 Blog

  p Ich schreibe hier alles nieder, was irgendwie mit dem Thema Sketchnotes in der IT zu tun hat. Außerdem möchte ich hier meine Erfahrungen mit dir teilen.
    | Viel Spaß beim Lesen!

  ul.collection-list
    each blog in collections.blog.reverse()
      li.collection-list__item
        a.item__link(href=blog.url)
          small.item__date= blog.date.toLocaleDateString('de-DE', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
          if blog.data.subtitle
            h3.item__how_to #{blog.data.subtitle}
          h2.item__headline= blog.data.title
          p.item__description= blog.data.description
