extends _includes/layouts/main.pug


block content
  h1 Willkommen

  p Herzlich Willkommen auf meiner Webseite. Ich möchte mich hier dem Thema Sketchnotes widmen und dir mit Tipps und Tricks zur Seite stehen.

  h2 Buch 

  p Mehr zu meinem Buch "Sketchnotes in der IT" findest du im Abschnitt 
    a(href="/buch") "Buch"
    | .

  h2 Blog

  p Im Bereich 
    a(href="/blog") Blog
    |  findest du meine Blogbeiträge zu verschiedenen Themen rund um Sketchnotes in der IT.
    |  Dies sind die neusten Beiträge:

  ul.collection-list
    each blog in collections.blog.slice(0,4)
      li.collection-list__item
        a.item__link(href=blog.url)
          small.item__date= blog.date.toLocaleDateString('de-DE', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
          if blog.data.subtitle
            h3.item__how_to #{blog.data.subtitle}
          h2.item__headline= blog.data.title
          p.item__description= blog.data.description

  h2 Sketchnotes

  p Im Bereich 
    a(href="/sketchnotes") Sketchnotes
    |  findest du von mir angefertigte Sketchnotes. Auch die, die für 
    a(href="https://software-architektur.tv") SoftwareArchitektur im Stream
    |  entstanden sind. Dies sind die neusten Sketchnotes:

  ul.collection-list
    each sketchnote in collections.sketchnotes.reverse().slice(0,2)
      li.collection-list__item
        a.item__link(href=sketchnote.url)
          small.item__date= sketchnote.date.toLocaleDateString('de-DE', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
          h2.item__headline= sketchnote.data.title
          p.item__description= sketchnote.data.description

  h2 Feedback, Fragen, Contentwünsche

  p
    | Wenn du mir Feedback geben möchtest, Fragen an mich hast, ein Symbol für etwas suchst oder dir irgendeine spezielle Art von Content wünschst, zögere nicht, dies zu tun.
    | Neben den klassischen Kontaktmöglichkeiten über die 
    a(href="/about") sozialen Medien 
    | möchte ich dir hier die Chance für anonymes Feedback via Google Forms geben.

  div.iframe-container
    iframe(src="https://docs.google.com/forms/d/e/1FAIpQLSdgWP_i6to9EM5moYOhNO1LsSVVIg9X_d41QhdLw9oIgkZyRQ/viewform?embedded=true",frameborder="0",height="450px",marginheight="0",marginwidth="0",alt="Google Forms für Fragen und Anmerkungen") Loading…
