extends _includes/layouts/main.pug

block content
  h1 Sketchnotes

  h2 SoftwareArchitektur im Stream

  p Da sich diese Seite zur Zeit noch im Aufbau befindet, sind noch nicht alle Sketchnotes an dieser Stelle hochgeladen.
    | Falls die Sketchnote fehlt, die du dir anschaeun wolltest, findest du sie bei 
    a(href="https://software-architektur.tv") SoftwareArchitektur im Stream
    | .

  ul.collection-list
    each sketchnote in collections.softwarearchitekturImStream.reverse()
      li.collection-list__item
        a.item__link(href=sketchnote.url)
          if sketchnote.data.imageSrc
            img.item__image(src=sketchnote.data.imageSrc)
          small.item__date= sketchnote.date.toLocaleDateString('de-DE', {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
          small.item__episode= sketchnote.data.episode
          h2.item__headline= sketchnote.data.title
          if sketchnote.data.guest
            h3.item__guest mit #{sketchnote.data.guest}
          p.item__description= sketchnote.data.description
