meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@teapot4181")
meta(name="twitter:creator" content="@teapot4181")

if pageTitle
  meta(name="twitter:title" content="#{pageTitle}")
else
  meta(name="twitter:title" content="#{site.title}")

if page.url
  meta(name="twitter:url" content="#{site.url}#{page.url}")

if page.description
  meta(name="twitter:description" content="#{page.description}")
else
  meta(name="twitter:description" content="#{site.description}")

if page.image
  meta(name="twitter:image:src" content="http://#{site.url}/images/#{page.image}")
else
  meta(name="twitter:image:src" content="http://#{site.url}/images/default.png")
