extend ./main.pug
  
block content
  if episode
    p.blog-episode= episode
  if guest
    h1.blog-title
      | #{title}
      br
      | mit #{guest}
  else if subtitle
    h1.blog-title 
      span.blog-subtitle= subtitle
      br
      | #{title}
  else
    h1.blog-title= title
  != content
