extend ./main.pug

block meta
  title= title
  
  //- primary meta tags
  meta(name="title",content=title)
  meta(name="description",content=description)
  
  //- Open Graph / Facebook
  meta(property="og:title",content=title)
  meta(property="og:description",content=description)
  if imageUrl
    meta(property="og:image",content="https://www.sketchnotes.tech" + imageUrl)
  
  //- Twitter
  if imageUrl
    meta(property="twitter:card",content="summary_large_image")
    meta(property="twitter:image",content="https://www.sketchnotes.tech" + imageUrl)
  else
    meta(property="twitter:card",content="summary")
  meta(property="twitter:url",content="https://www.sketchnotes.tech" + page.url)
  meta(property="twitter:title",content=title)
  meta(property="twitter:description",content=description)

block content
  if episode
    p.blog-episode= episode
  if guest
    h1.blog-title
      | #{title}
      br
      | mit #{guest}
  else
    h1.blog-title= title
  != content
